.file_upload_area {
  padding: 13px;
  max-width: 250px;
  max-height: 250px;
  text-align: center;
  color: white;
  border-radius: 15px;
  object-fit: fill;
  background-color: black;
  font-family: SharpGroteskWide,Open Sans,sans-serif;
  text-decoration: underline;
  user-select: none;
}

.inputfile-group {
  max-width: 148px;
  margin: auto;
  background-color: black;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: bold 15px arial, sans-serif;
}

.inputfile-group:hover {
  max-width: 148px;
  margin: auto;
  background-color: white;
  border-color: #009900;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}
.inputfile-group:active {
  max-width: 148px;
  margin: auto;
  background-color: aqua;
  border-color: darkblue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.fileNameText {
  position: absolute;
  left: 47%;
  top: 18.5%;
  z-index:1;
  user-select: none;
}


#fileNameSelect {
    height: 48px;
    width: 150px;
    font-size: 23px;
    direction: ltr;
    opacity: 0;
    overflow: auto;
}

body {
  background-color: black;
  font-size: 16px;
  line-height: 20px;
}


h1 {
  font-family: SharpGroteskWide,Open Sans,sans-serif;
  font-size: 26px;
  padding-bottom: 10px;
}

.btn-submit-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#btn-submit {
  border-radius: 5px;
  height: 50px;
  width: 150px;
  background: #008000;
  color: white;
  border-style: outset;
  border-color: #009900;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
  cursor: pointer;
}

#btn-submit:hover {
  background: white;
  border-color: #9933ff;
  color: black;
}

#btn-submit:active {
  background: blue;
  border-color: darkblue;
  color: white;
}

.upload-border {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  margin: auto;
  padding: 5px;
  max-width: 275px;
  border-radius: 15px;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;}

  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
}

.spacer {
  padding: 10px;
}
